* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  background-color: #000000;
  font-family: "Manrope", sans-serif;
  cursor: none;
  overflow-x: clip;
}
.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  transition:
    width .2s ease,
    height .2s ease;
}
.mainMenu {
  width: 40%;
  margin: 0 auto;
  padding: 1.6vw 2vw;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}

.mainMenu a {
  color: #ffffff;
  text-decoration: none;
  transition: color ease 0.4s;
}
.mainMenu a.active,
.mainMenu a.active:hover {
color: #00EFF8;
}
.section1 {
  position: relative;
  overflow: visible;
  z-index: 2;
}

.logo1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
  height: 30vw;
}
.text1 {
  color: white;
  text-align: center;
  white-space: pre-line;
  font-size: 2vw;
  line-height: 1.4;
  position: relative;
  top: -7vw; /* Используем position и top для подъёма текста вверх, ближе к лого */
  left: -2vw; /* Сдвигаем текст чуть левее */
  font-weight: 300; /* Делаем шрифт тонким */
}
.blob {
  position: absolute;
  background: #00f5ff;
  border-radius: 50%;
  filter: blur(55px);
  opacity: 0.85;
  transition: 
    transform 0.35s ease,
    opacity 0.35s ease,
    filter 0.35s ease,
    border-radius 0.35s ease;
  will-change: transform;
}

.blob:hover {
  opacity: 1;
  filter: blur(35px);
  transform: scale(1.25);
  border-radius: 40% 60% 55% 45%;
}
.blob,
.color {
  transform: translate(var(--x, 0px), var(--y, 0px));
}

.blob:hover,
.color:hover {
  transform: translate(var(--x, 0px), var(--y, 0px)) scale(1.12);
}

/* большой нижний левый, с ровным нижним краем */
.blob-1 {
  width: 650px;
  height: 310px;
  left: -110px;
  bottom: -95px;
  border-radius: 48% 52% 0 0;
}

/* маленький левый */
.blob-2 {
  width: 185px;
  height: 185px;
  left: 120px;
  top: 315px;
  opacity: 0.55;
}

/* маленький ближе к центру */
.blob-3 {
  width: 165px;
  height: 165px;
  left: 250px;
  top: 300px;
  opacity: 0.45;
}

/* большой нижний правый, с ровным нижним краем */
.blob-4 {
  width: 560px;
  height: 520px;
  right: -30px;
  bottom: -110px;
  border-radius: 55% 45% 0 0;
}

/* маленький сверху справа */
.blob-5 {
  width: 190px;
  height: 190px;
  right: 210px;
  top: 55px;
  opacity: 0.75;
}

/* маленький справа посередине */
.blob-6 {
  width: 170px;
  height: 170px;
  right: 295px;
  top: 275px;
  opacity: 0.55;
}


.section2 {
  position: relative;
  z-index: 1;
  min-height: 58vw;
  margin-top:9vw;
}
.section2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 18vw;

  background: linear-gradient(
    to bottom,
    #000 0%,
    rgba(0, 0, 0, 0.85) 25%,
    rgba(0, 0, 0, 0.35) 65%,
    rgba(0, 0, 0, 0) 100%
  );

  z-index: 3;
  pointer-events: none;
}
.section2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 18vw;

  background: linear-gradient(
    to top,
    #000 0%,
    rgba(0, 0, 0, 0.85) 25%,
    rgba(0, 0, 0, 0.35) 65%,
    rgba(0, 0, 0, 0) 100%
  );

  z-index: 3;
  pointer-events: none;
}
.cover-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.cover-image img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.cover-image canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 2;
  /* Добавьте для отладки: */
  background: rgba(255,0,0,0.1);
}
.text2 {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -35%);
  z-index: 2;
  font-size: 1.35vw;
  line-height: 1.25;
  color: white;
  width: 34vw;
  text-align: center;
  pointer-events: none;
  white-space: pre-line;
}

.buttonBar {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 69%;
  transform: translateX(-50%);
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  border: 1px solid #fff;
  background: #fff;
  color: #000;

  overflow: hidden;
  cursor: pointer;
  text-decoration: none;

  transition:
    width .45s cubic-bezier(.76,0,.24,1),
    border-radius .45s cubic-bezier(.76,0,.24,1);
}

.buttonBar img {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 1.1vw;

  transform: translate(-50%, -50%);
  transition: left .45s cubic-bezier(.76,0,.24,1);
}

.buttonBar-text {
  position: absolute;
  top: 50%;
  left: 1.7vw;

  transform: translateY(-50%) translateX(-0.5vw);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  color: #000;
  font-size: 1.1vw;
  font-weight: 600;
  white-space: nowrap;

  transition:
    opacity .25s ease,
    visibility 0s linear .25s,
    transform .35s ease;
}

.buttonBar:hover .buttonBar-text,
.buttonBar:focus .buttonBar-text {
  opacity: 1;
  visibility: visible;
  transform: translateY(-50%) translateX(0);

  transition-delay: .12s, 0s, .12s;
}

.buttonBar:hover,
.buttonBar:focus {
  width: 9vw;
  border-radius: 40vw;
}

.buttonBar:hover img,
.buttonBar:focus img {
  left: calc(100% - 1.5vw);
}

.buttonBar:hover .buttonBar-text,
.buttonBar:focus .buttonBar-text {
  opacity: 1;
  width: 4vw;
  transform: translateY(-50%) translateX(0);
  transition-delay: .12s;
}

.section3 {
    position: relative;
    padding: 6.25vw 4.5vw 6vw;
}
.card-step {
  position: relative;
  height: 170vh;
}
.project-card {
  position: sticky;
  top: 90px;
  height: 45vw;
  border-radius: 25px;
  overflow: hidden;
  background: #000;
  transform-origin: center top;
  will-change: transform;
  transition: transform 0.35s cubic-bezier(.22, 1, .36, 1);
}
.project-card {
  text-decoration: none;
  color: inherit;
  display: block;
}
.card-1 {
    z-index: 1;
    border: 1px solid #fff;
    color: #fff;

}
  
.card-2 {
    z-index: 2;
    background-color: #fff;

}
  
.card-3 {
    z-index: 3;
    border: 1px solid #fff;
    color: #fff;

}


.card-btn {
    position: absolute;

    right: 24px;
    bottom: 24px;

    width: 56px;
    height: 56px;

    border-radius: 999px;
    border: 1px solid #fff;

    background: transparent;
    color: #fff;

    overflow: hidden;
    cursor: pointer;

    transition:
        width .45s cubic-bezier(.76,0,.24,1),
        background-color .35s ease,
        color .35s ease,
        border-color .35s ease;
}

/* белая карточка */

.card-white .card-btn {
    background: #000;
    color: #fff;
    border-color: #000;
}

/* черные карточки */

.card-black .card-btn:hover {
    background: #fff;
    color: #000;
}

/* белая карточка */

.card-white .card-btn:hover {
    background: #000;
    color: #fff;
}

.btn-text {
    position: absolute;

    left: 28px;
    top: 50%;

    transform: translateY(-50%);

    opacity: 0;
    white-space: nowrap;

    font-size: 16px;
    font-weight: 500;
    letter-spacing: .05em;

    transition:
        opacity .2s ease,
        transform .2s ease;
}

.btn-arrow {
    position: absolute;

    right: 18px;
    top: 50%;

    transform: translateY(-50%);

    font-size: 22px;
}

.card-btn:hover {
    width: 240px;
}

.card-btn:hover .btn-text {
    opacity: 1;
    transition-delay: .15s;
}

/* контакты */
.contacts {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.contacts-title {
  width: 100%;
  transform: scaleY(0.08);
  transform-origin: center center;

  will-change: transform;
}

.contacts2stolba {
  display: flex;
  justify-content: center;
  gap: 10.4vw;
  margin-top: 5.2vw;
}
.contacts-info {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10.4vw;
  margin-top: 5.2vw;
}

.contacts-column h3 {
  font-size: 1.6vw;
  color: white;
  font-weight: 400;
  margin-bottom: 1.3vw;
}

.contacts-column p {
padding-top: 0.7vw;
  font-size: 1.04vw;
  line-height: 1.4;
  color: white;
}

/* почта */
.placeholder {
  position: relative;
  width: 40%;
  
}

.placeholder input, select {
  width: 130%;
  height: 3vw;
  font-size: 1vw;
  border-radius: 5vw;
  border: 0.07vw solid #ffffff;
  padding-left: 1.6vw;
  background-color: transparent;
  position: relative;
  z-index: 1;
}
.placeholder::before {
  position: absolute;
  top: 0.1vw;
  left: 1.6vw;
  color: #ffffff;
  transition: all ease 0.4s;
}
.placeholder:has(input:focus)::before,
.placeholder:has(input:not(:placeholder-shown))::before {
  font-size: 0.9vw;
  top: 0.5vw;
}
.placeholder:has(input[name="email"])::before {
  content: "Электронная почта";
}
.placeholder button {
  position: absolute;
  rotate: 180deg;
  right: 1vw;
  top: 0%;
  background: none;
  border: none;
  width: 1.5vw;
  height: 1vw;
  cursor: pointer;
  z-index: 2;
}

.placeholder button img {
  width: 100%;
  height: 100%;
  object-fit: contain;

}

.placeholder input {
  color: #fff;
  background: transparent !important;
}

.placeholder input:focus {
  background: transparent !important;
  outline: none;
}

.placeholder input:-webkit-autofill,
.placeholder input:-webkit-autofill:hover,
.placeholder input:-webkit-autofill:focus,
.placeholder input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #000 inset !important;
  -webkit-text-fill-color: #fff !important;
  background-color: transparent !important;
  caret-color: #fff;
}

/* нижняя строка */
.contacts-footer {
  margin-top: 4.2vw;
  padding-bottom: 2vw;
  display: flex;
  justify-content: center;
  gap: 3.1vw;
  font-size: 1.6vw;
  color: #fff;
}